<footer class="bg-cyan-950 text-white w-full text-center m-auto p-2">
    <p><span class="font-semibold">TechGems</span> was built with <a class="font-bold text-cyan-500" href="https://astro.build/">Astro</a></p>
</footer>