---
const { skillName, image } = Astro.props;
import { Image } from 'astro:assets';
const randomDelay = Math.floor(Math.random() * 30);
---
<div class="relative overflow-hidden animate-glass-frost rounded-2xl shadow-[0_8px_32px_rgba(0,0,0,0.3)] p-4 flex flex-col items-center justify-center gap-2 hover:bg-white/20 hover:shadow-[0_8px_32px_rgba(0,0,0,0.5)]" style={`animation-delay: ${randomDelay}s;`}>
    <div class="relative flex items-center justify-center">
        <Image src={image} alt={skillName} width={150} height={150} class="h-24 sm:h-32 md:h-40 m-auto" />
    </div>
    <h5 class="relative text-base sm:text-lg font-semibold text-center text-gray-200">{skillName}</h5>
</div>