---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import HomeFooter from '../components/HomeFooter.astro';

const { title, description, useFooter } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
			}
			.title {
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main class="my-8">
			<slot />
		</main>
		{useFooter ? <HomeFooter /> : null}
	</body>
</html>
