---
import BaseHead from '../components/BaseHead.astro';
import BlogHead from '../components/BlogHead.astro';
import GlassHeader from '../components/GlassHeader.astro';
import HomeFooter from '../components/HomeFooter.astro';

interface Props {
	title: string;
	description: string;
    useWrapper: boolean;
	useBlogHead: boolean;
	imageURL?: string;
}

const { title, description, useWrapper = false, useBlogHead = false, imageURL } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		{useBlogHead ? <BlogHead title={title} description={description} image={imageURL!} /> : <BaseHead title={title} description={description} />}
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="bg-neutral-800">
		<GlassHeader />
        <main class={useWrapper ? "py-30" : ""}>
            <slot />
        </main>
		<HomeFooter />
	</body>
</html>
